/* 導覽列 */
.navbar{
    width: 100%;
    background-color: #d80011;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.navbar-menu{
    width: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu .logo{
    width: 70px;
}
.main-navbar{
    display: flex;
    align-items: center;
}
.main-navbar .btn-link{
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    padding: 20px 30px;
    transition: background-color 0.5s ease;
}
.main-navbar .btn-link:hover{
    background-color: #003366;
}
.main-navbar .btn-login{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    background-color: #003366;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: color 0.5s ease,background-color 0.5s ease;
}
.main-navbar .btn-login:hover{
    color: #003366;
    background-color: #eee;
}
.mega-menu{
    cursor: default;
    width: 90%;
    background-color: #d80011;
    padding: 15px 0px;
    display: flex;
    position: absolute;
    top: 100%;
    left: 5%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: visibility 0.3s ease,opacity 0.3s ease,transform 0.3s ease;
}
.mega-menu .mega-menu-column{
    margin: 0px 50px;
}
.mega-menu-column .mega-menu-title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}
.mega-menu-column .btn-mega-menu-link{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0px;
    transition: color 0.5s ease;
}
.mega-menu-column .btn-mega-menu-link:hover{
    color: #003366;
}
.mega-menu-open{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.btn-toggle{
    display: none;
    cursor: pointer;
    color: #fff;
    transition: opacity 0.5s ease;
}
.btn-toggle:hover{
    opacity: 0.9;
}
@media screen and (max-width: 768px){
    .btn-toggle{
        display: flex;
    }
    .navbar-menu{
        padding: 0px 20px;
    }
    .main-navbar{
        flex-direction: column;
        width: 100%;
        background: #d80011;
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: -1;
        transform: translateY(-120%);
        transition: transform 0.5s ease;
    }
    .main-navbar-open{
        transform: translateY(0px);
    }
    .main-navbar .btn-link{
        width: 100%;
        text-align: center;
        padding: 16px 0px;
    }
    .main-navbar .btn-login{
        width: 50%;
        text-align: center;
        margin: 20px auto;
    }
    .mega-menu{
        width: 100%;
        background-color: #e91122;
        padding: 0px;
        position: relative;
        left: 0px;
        transform: translateY(16px);
        overflow: hidden;
        max-height: 0px;
        transition: max-height 0.2s linear;
    }
    .mega-menu .mega-menu-column{
        width: 33%;
        text-align: left;
    }
    .mega-menu-open{
        padding: 15px 0px;
        max-height: 300px;
        transition: max-height 0.2s linear;
    }
}
@media screen and (max-width: 576px){
    .mega-menu .mega-menu-column{
        text-align: center;
        margin: 0px 20px;
    }
}